.main {
    text-align: center;
    padding: 18rem 0 18.5rem;

    @media (max-width: 48em) {
        padding-top: 14.5rem;
    }
    
    @media (max-width: 25em) {
        padding-top: 12.5rem;
    }

    .number {
        margin-bottom: 6.5rem;
    }

    &__images {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 8rem;
        
        @media (max-width: 48em) {
            gap: 1rem;
            margin-bottom: 5rem;
        }
        
        @media (max-width: 45em) {
            flex-wrap: wrap;
            
        }
        
        @media (max-width: 25em) {
            margin-bottom: 7rem;
            gap: 2.5rem;
        }
    }

    &__images > * {
        max-width: 25.5rem;
        width: 21.5vw;
        border-radius: 8px;

        @media (max-width: 45em) {
            width: max(15rem, 10vw);
        }
    }

    .overline {
        margin-bottom: 1.6rem;

        @media (max-width: 25em) {
            margin-bottom: 2rem;
        }
    }

    h2 {
        max-width: 44.5rem;
        width: 90%;
        margin: 0 auto 3.2rem;

        @media (max-width: 25em) {
            width: 80%;
        }
    }

    p {
        max-width: 51rem;
        margin: 0 auto;

        @media (max-width: 48em) {
            max-width: 75%;
        }

        @media (max-width: 40em) {
            max-width: 85%;
        }
    }
}